@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <helper id="counter1" data-permanent component="/js/Counter.js" />
        <helper id="counter2" data-permanent component="/js/Counter2.js"/>
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <a href="https://learn.microsoft.com/aspnet/core/" target="_blank">About</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>

<style src="/js/Counter.css"></style>
<style src="/js/Counter2.css"></style>
<script src="/js/moduleloader.js" type="module"></script>
